<!DOCTYPE html>
{% load custom_filters %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Добро пожаловать на сайт новостей!</h1>
    </header>
    <main>
        {% block content %}
        <h2>Список новостей</h2>
        <ul>
            {% for article in news %}
                <li>
                    <h3>{{ article.title|censor }}</h3> <!-- Применяем фильтр к заголовку -->
                    <p>{{ article.content|censor|slice:":20" }}...</p> <!-- Применяем фильтр к тексту -->
                    <p>Дата публикации: {{ article.publication_date|date:"d.m.Y" }}</p>
                    <a href="{% url 'news_detail' article.id %}">Читать далее</a>
                </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Новости</p>
    </footer>
</body>
</html>
